*$py.class
build/
.cache/
.coverage
*.db
*.db-journal
.directory
dist/
.DS_Store
*.egg-info/
.eggs/
.env
env/
ENV/
.env.*.local
.env.local
htmlcov/
*.local.env
*.log
logs/
.mypy_cache/
node_modules/
.nova/
pip-wheel-metadata/
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
*.sqlite
*.sqlite3
*.swo
*.swp
temp/
Thumbs.db
*.tmp
tmp/
.venv/
venv/
