build/
.cache/
*.db
.directory
dist/
.DS_Store
*.egg-info/
.env
.env.*.local
.env.local
*.log
logs/
.mypy_cache/
node_modules/
.nova/
*.pyc
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
*.sqlite
*.sqlite3
temp/
Thumbs.db
tmp/
.venv/
venv/
